html {
}

.btn-primary-orange{!important; color:#fff;background-color:#FFA500;border-color:#FFA500}

.bg-gecko {background-color:#11141c!important}

.Kleurcodes /* van de geckoafbeelding */
{
    --tobacco-brown: #6d5a41;
    --sapling: #e0cea6;
    --rangitoto: #2c2a1f;
    --donkey-brown: #a79781;
    --barley-corn: #a88b5e;
    --nomad: #b9b6a3;
    --cloudy: #b2aaa6;
    --english-walnut: #3c2b24;
    --tussock: #c48c3c;
}

.tabel
{
    width:40%;
    position:relative; left:60px; top:2px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: 10px;

}
.alertcreation {
    position: relative;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    width: 100%;
    top: 0;
    left: 0;
}

.alertpositive {
    padding: 20px;
    background-color: #24c026;
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: 0px;
    z-index: 1000;
}

.alertaddtocart {
    padding: 20px;
    background-color: #24c026;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 100%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

}

.centeredRelative {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.horizontalcentered {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
}

.horizontalCenteredRelative
{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.horizontalCenteredRelativeImage
{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 300px;
}

.imagegekko {
    position: relative;
    width: 100%;
    padding: 10px;
}

.aanmelden {
    position: relative;
    margin-left: 30%;
    padding: 50px;
    width: 100%;
}
.winkelmandbutton
{
    width:30%;
}

.aantalbutton
{
    border-radius: 7px;
    width: 60px;
    border-width: 0;
}

.btn-alt{display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce){.btn-alt{transition:none}}.btn-alt:hover{color:#212529;text-decoration:none}.btn-alt.focus,.btn-alt:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.btn-alt.disabled,.btn-alt:disabled{opacity:.65}




.inwinkelwagen
{
    border-radius: 7px;
    width: 180px;
    color: white;
    height: 50px;
    font-size: large;
}

.inwinkelwagen2 {
    position: relative;
    margin-top: 70px;
    float: left;
    color: white;
    border-radius: 7px;
    width: 180px;
    height: 50px;
    font-size: large;
}
.smallbutton
{
    top: 5px;
    width:15%;
}

.button20
{
    width: 20%;
}

.button40
{
    width:40%;
}

.accountbutton
{
    position:fixed;
    left:50%;
    top:75%;
    transform: translate(-50%, -50%);
}

.shiftright
{
    position:relative; left:60px; top:2px
}

.moveright
{
    width:30%;
    position:relative; left:60px; top:2px
}

.dropDown2
{
    width:10%;
}

body {
    padding-top: 115px;
    overflow-x:hidden;
    color: #FFF !important;
    background-image: url(../Img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family: MmrText;
    src: url(/Public/fonts/mmrtext.ttf);
}
select {
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../Img/mouse-hover-icon-22.jpg) 96% / 30px no-repeat #EEE;
}

a {
    text-decoration: none;
    position: relative;
    color:#000000;
}
a:hover {
    text-decoration: none !important;
}
a span {
    display: none;
    position: absolute;
    color: #676EFF;
    background: #676EFF;
    padding: 5px;
}
a:hover span {
    display: inline-block; text-align: center;
    width: 250px;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    font-family: pt-sans, sans-serif;
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
}
table tr th,
table tr td {
    padding: 10px;
}
ul#ul-class-navigation {
    right: 10px;
    line-height: 200px;
    position: absolute;
}
ul#ul-class-navigation li {
    color: white;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}
#Header {
    position: fixed;
    top:0;
    background-color: rgb(35, 35, 47);
    width: 100%;
    height: 200px;
    z-index: 1;
    border-bottom: 1px solid #3c2b24;
}
#Content {
    margin-top: 200px;
}
#FilterFrame {
    position: fixed;
    width: 19%;
    background-color: #1e2230;
    float: left;
    top:130px;
    border: 2px solid #11141c;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
}
#ResultsArea.Browse {
    width: 78%;
    margin-left: 21%;
    float: left;
    position: sticky;
}

.BrowseChild2 {
    position: sticky;
    float: right;
    width: 400px;
    border-style: solid;
}
#ProductFrame {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    position: relative;
    padding: 1px;
    border-bottom: 1px solid #fff;
}
.ImgFrame {
    width: 230px;
    height: 230px;
    background-color: #1e2230;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px
}
.ImgFrame img {
    width: 230px;
    height: 230px;
}
#StockItemFrameRight {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 0;
}
.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.ItemQuantity {
    position: absolute;
    left: 250px;
    bottom: 2.5px;
    color: white;
    font-size: 15px;
}
#VideoFrame {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #d6d6d6;
    margin-bottom: 10px;
}
#ArticleHeader {
    width: 100%;
    height: 450px;
    position: relative;
}
#ImageFrame {
    width: 500px;
    height: 400px;
    background-color: #1e2230;
    float: left;
    margin-right: 10px;
}
.QuantityText {
    position: relative;
    text-align: left;
    width: 350px;
    left: 0;
}
#StockItemHeaderLeft {
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

.StockItemNameViewSize {
    font-size: 35px !important;
}
.CenterPriceLeft {
    position: absolute;
    height: 450px;
    right: 0;
    width: 500px;
}
.CenterPriceLeftChild {
    position: relative;
    top: 220px;
    height: 450px;
    float: right;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#StockItemDescription {
    position: relative;
    width: 50%;
    float: left;
    padding-bottom: 10px;
    margin-left: 1%;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemSpecifications {
    position: relative;
    width: 50%;
    float: left;
    padding-bottom: 10px;
    margin-left: 1%;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}

.addtocart {
    position: relative;
    height: 50px;
}
.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}
.Background {
    background-color: #3c2b24;
    width: 100%;
    height: 100%;
    position: absolute;
}
#LogoA {
    height: 200px;
    width: 100%;
    position: absolute;
}
#LogoImage {
    background-image: url("../ProductIMGHighRes/NerdyGadgetsLogo.png");
    width: 250px;
    height: 90px;
    margin: 55px 55px 55px 10%;
}
ul#ul-class li {
    display: inline;
    color: #dce4ee;
    margin-right: 1em;
    font-size: 18px;
    text-decoration: none;
    line-height: 200px;
}
ul#ul-class-price li {
    display: inline;
}
.TextPrice {
    margin-top: 16%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.HrefDecoration {
    color: #ffffff;
}

.HrefDecoration i.search {
    color: #676EFF;
}

.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: #ccc;
}

.dropdown-itemcustom
{
    display:block;
    width:100%;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    color:#212529;
    text-align:inherit;
    white-space:nowrap;
    background-color:
            transparent;
    border:0
}

.TextMain {
    color: #fff;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
    margin-left: 10%;
}
.HomePagePrice {
    color: #676EFF;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 7%;
}
.HomePageStockItemPicture {
    background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
    background-size: 100% 100%;
    width: 477px;
    height: 477px;
    background-repeat: no-repeat;
    margin-left: 55%;
    margin-top: -30%;
}
#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#StockGroup1 {
    width: 18%;
    height: 600px;
    margin-left: 5%;
}
#StockGroup2 {
    width: 18%;
    height: 600px;
    background-size: cover;
}
#StockGroup3 {
    width: 15%;
    height: 41.5%;
}
#StockGroup4 {
    width: 30%;
    height: 250px;
}
#StockGroup5 {
    width: 25%;
    height: 53.5%;
    margin-top: 1.5%;
}
#StockGroup6 {
    width: 20%;
    height: 53.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}
.StockGroups h1 {
    position: absolute;
    left:0;
    right: 0;
    font-size: 25px;
}
#StockGroup2 h1 {
    bottom: 0;
}
#StockGroup1 h1 {
    bottom: 0;
}
#StockGroup5 h1 {
    bottom: 0;
}
#StockGroup6 h1 {
    bottom: 0;
}
#Wrap a {
    text-decoration: none;
    color: white;
}
#Wrap a:hover {
    color: #ccc;
    opacity: 0.9;
}

.browseverkoop {
    position: absolute;
    right: 0;
    width: 250px;
    height: 200px;
    margin-top: 25px;
}

.StockItemPriceText {
    position: relative;
    text-align: left;
    font-family: vortice-concept, sans-serif;
    color: #676EFF;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    width: 250px;
    margin-top: 25px;
}

.inwinkelwagenbtn {
    text-align: left;
    left: 0;
    height: 50px;
    padding: 0;

}
.StockItemPriceText:hover {
    text-decoration: none;
}
.StockItemID {
    font-family: vortice-concept, sans-serif;
    color: #676EFF;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.StockItemName {
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.table-font-color
{
    color: white !important;
}

.navicon
{
    margin-right: 10px;
}

.button5
{
    width:5%
}

.StockItemComments {
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
#CenteredContent {
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
}
.carousel-inner img {
    width: 400px;
    height: 400px;
}
#ImageCarousel {
    width: 500px;
    height: 400px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}
.ListItem:hover {
    text-decoration: none;
}
#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 20px;
    position: relative;
}
#ProductNotFound {
    text-align: center;
    position: relative;

}

.centeralert
{
    margin-right: 250px;
    margin-left: 250px;
}
.padding0
{
    padding: 0; !important;
}

.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}
.FilterTopMargin {
    margin-top: 20px;
}
#ProductFrame h6 {
    color: white;
}
#CategoriesBar {
    position: absolute;
    left: 280px;
}
#PageSelector {
    text-align: center;
    margin: 20px;
}
#SelectedPage {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    background-color: rgb(98, 158, 255);
    padding: 15px 22px;
    border-radius: 50px;
}
.PageNumber {
    padding: 7px 15px;
    border-radius: 39px;
    background: rgb(36, 41, 143);
    border: 1px rgb(98, 158, 255) solid;
    color: #fff;
}